# Dependency directories
node_modules/

# Build output
valheim_discord_bot.zip

# Environment variables
.env

# Local development
.vscode/
.idea/
*.swp
.DS_Store

npm-debug.log
yarn-debug.log
yarn-error.log

lambda_package/ 